DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=fluvialert
SECRET_KEY=gere_uma_chave_segura_com_openssl_rand_hex_32
CORS_ORIGINS=["http://200.132.38.218:5173","http://200.132.38.218"]
